.toolbar {
  width: 375px;
  height: 48px;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-evenly;
  gap: 75%;
}

.logo-placeholder {
  color: #fff;
  padding: 10px, 12px, 10px, 12px;
  height: 50%;
  margin-top: 3%;
}

.text {
  width: 70px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 60%;
  line-height: 24px;
  text-align: center;
}

.normal-button {
  border-radius: 8px;
  height: 50%;
  width: 7%;
  margin-top: 3%;
  position: relative;
}

.union {
  height: 5%;
  width: 50%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.one {
  top: 38%;
}

.three {
  top: 63%;
}

.headline {
  width: 375px;
  height: 590px;
  top: 92px;
  padding: 120px, 24px, 120px, 24px;
  display: flex;
  gap: 12px;
  background-color: #1c1a19;
  flex-direction: column;
  background-image: url(imgs/illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 130%;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  line-height: 64px;
  font-weight: 400;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 5%;
  margin-top: 30%;
  margin-bottom: -5%;
}

.supporting-text {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-left: 5%;
  margin-bottom: -3%;
}

.description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 5%;
}

.social-media {
  margin-left: 8%;
}

.icon {
  width: 18px;
  height: 18px;
}
