.toolbar {
  width: 375px;
  height: 48px;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-evenly;
  gap: 75%;
}

.logo-placeholder {
  color: #fff;
  padding: 10px, 12px, 10px, 12px;
  height: 50%;
  margin-top: 3%;
}

.text {
  width: 70px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 60%;
  line-height: 24px;
  text-align: center;
}

.normal-button {
  border-radius: 8px;
  height: 50%;
  width: 7%;
  margin-top: 3%;
  position: relative;
}

.union {
  height: 5%;
  width: 50%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.one {
  top: 38%;
}

.three {
  top: 63%;
}

.headline {
  width: 375px;
  height: 590px;
  top: 92px;
  padding: 120px, 24px, 120px, 24px;
  display: flex;
  gap: 12px;
  background-color: #1c1a19;
  flex-direction: column;
  background-image: url(imgs/illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 130%;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-size: 56px;
  font-family: 'Crete Round', sans-serif;
  line-height: 64px;
  font-weight: 400;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 5%;
  margin-top: 30%;
  margin-bottom: -5%;
}

.supporting-text {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-left: 5%;
  margin-bottom: -3%;
}

.description {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 5%;
}

.social-media {
  margin-left: 8%;
}

.icon {
  width: 18px;
  height: 18px;
}

.works {
  display: grid;
  width: 31.5%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 0.75fr);
  gap: 10px;
}

.works-title {
  width: 327px;
  height: 107px;
  margin-left: 5%;
  margin-top: 35%;
  text-align: center;
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  border-bottom: 1px solid #212121;
}

.grid-item {
  width: 323px;
  height: 400px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.item1 {
  grid-row-start: 2;
  grid-row-end: 4;
}

.works1-img {
  width: 300px;
  height: 150px;
}

.works-text-block {
  width: 327px;
  height: 307px;
}

.works-heading {
  color: #091e42;
  font-family: 'Crete Round', sans-serif;
  gap: 12px;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.works-para {
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.work-skills-block {
  width: 314px;
  height: 40px;
  gap: 12px;
  margin-top: 10%;
}

.skill {
  border: 1px solid #8993a4;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  width: 55px;
  height: 40px;
  color: #091e42;
  font-family: "Inter", sans-serif;
}

.works-button {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: #ff6b00;
  width: 124px;
  height: 48px;
  border: 1px solid white;
}

.works2-heading {
  font-family: 'Crete Round', sans-serif;
  color: #fff;
  width: 295px;
  height: 81px;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding-left: 5%;
}

.works2-para {
  font-family: "Inter", sans-serif;
  width: 301px;
  height: 99px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 5%;
}

.work2-skills-block {
  width: 314px;
  height: 40px;
  gap: 12px;
  margin-top: 10%;
  padding-left: 3%;
}

.skill2 {
  border: 1px solid #8993a4;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  width: 55px;
  height: 40px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 20px;
  background-color: #ffffff3d;
  margin-left: 3%;
}

.works2-button {
  width: 327px;
  height: 45px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  background-color: #ff6b00;
  border: 1px solid #ff6b00;
  margin-top: 5%;
}

.worksbg {
  background-image: url(imgs/bgimgg.png);
  background-repeat: no-repeat;
  background-position: 55% 85%;
}

.about-me {
  width: 375px;
  height: 590px;
  top: 92px;
  padding: 120px, 24px, 120px, 24px;
  display: flex;
  gap: 12px;
  background-color: #1c1a19;
  flex-direction: column;
  background-image: url(imgs/about-me.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  margin-top: -15%;
}

.about-primary-text {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-left: 5%;
  margin-bottom: -3%;
}

.about-description {
  font-family: "Inter", sans-serif;
  color: #f4f5f7;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  margin-left: 5%;
}

.resume-button {
  background-color: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  width: 156px;
  height: 48px;
  padding: 12px;
  border: 1px solid #ff6b00;
  margin-top: 15px;
  margin-left: 5%;
}

.line {
  width: 327px;
  color: #fff;
  top: 9px;
  margin-top: 55%;
  border: 1px solid #fff;
}

.skill-section {
  width: 375px;
  height: 1403px;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}

.container1 {
  display: flex;
  justify-content: center;
}

.rectangle {
  width: 18px;
  height: 18px;
  padding-top: 40px;
  padding-right: 13px;
}

.rect1 {
  width: 18px;
  height: 18px;
  padding-top: 40px;
  padding-right: 30px;
}

.rect2 {
  width: 18px;
  height: 18px;
  padding-top: 40px;
  padding-right: 23px;
}

.skills-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

.frameworks-heading {
  margin-right: 35px;
}

.circle-heading {
  margin-right: 25px;
}

.skills-list {
  list-style-type: none;
  margin-right: 10%;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 22px;
  line-height: 42.67px;
  text-align: center;
}

.skill-item {
  padding-bottom: 30px;
}

.form-section {
  width: 375px;
  height: 855px;
  background-color: #fff;
  border-bottom: 1px solid #dfe1e6;
}

.form-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  width: 320px;
  margin-left: 25px;
  margin-top: 100px;
}

.form-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.input-field {
  width: 327px;
  height: 48px;
  margin-left: 25px;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
}

.textarea-field {
  width: 327px;
  height: 114px;
  background-color: #fbf8f7;
  margin-left: 25px;
  border: 0;
}

textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  padding-left: 10px;
  padding-top: 10px;
}

.submit-button {
  width: 131px;
  height: 48px;
  padding: 12px;
  gap: 10px;
  background-color: #ff6b00;
  border: 1px solid #ff6b00;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  color: #fff;
  margin-left: 110px;
}

.footer-section {
  width: 375px;
  height: 72px;
}

.social-media2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
}

.icon2 {
  width: 20px;
  height: 20px;
}

.line2 {
  width: 110px;
  height: 5px;
  border: 1px solid #0d151e;
  background-color: #0d151e;
  color: #0d151e;
  border-radius: 10px;
  margin-right: 71%;
}

body {
  margin-left: 30%;
}
